:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.search {
  padding: 10px;
}

.header {
  margin: 0 0 18px;
}

.actions {
  display: flex;
  gap: 10px;

  & > * {
    white-space: nowrap;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;

  $table-active-columns: 3;

  @for $i from 1 through $table-active-columns {
    &:has(thead > tr > *:nth-child(#{$i}):hover) tr > *:nth-child(#{$i}) {
      background-color: gainsboro;
    }
  }

  th {
    padding: 8px 0 8px 8px;
    text-align: left;
    border-bottom: 1px solid black;

    &:not(:empty) {
      cursor: pointer;

      &:hover {
        background-color: gainsboro;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: gainsboro;
      }
    }
  }

  td {
    padding: 8px 0 6px 8px;

    &:first-child {
      padding-left: 8px;
    }

    &:last-child {
      padding-right: 8px;
    }

    &:nth-child(1) {
      width: 20%;
    }

    &:nth-child(2) {
      width: 35%;
    }

    &:nth-child(3) {
      width: 25%;
    }

    &:nth-child(4) {
      width: 20%;
    }
  }
}
