<div class="header">
  <h2>{{ 'visitsHistory' | translate }}</h2>

  <button (click)="exportData()">{{ 'exportData' | translate }}</button>

  <button (click)="importInput.click()">{{ 'importData' | translate }}</button>

  <input #importInput type="file" (change)="importData($event)" accept=".zip" />
</div>

<input class="search" type="text" [formControl]="searchControl" [placeholder]="'visit.search' | translate">

@if (visits$ | async; as visits) {
  @if (visits.length) {
    <table>
      <thead>
        <tr>
          <th (click)="changeSortOption(SortOption.byDate)">
            <ng-container *ngTemplateOutlet="sortDirection; context: { option: SortOption.byDate }"></ng-container>
            {{ 'visit.date' | translate }}
          </th>

          <th (click)="changeSortOption(SortOption.byDoctor)">
            <ng-container *ngTemplateOutlet="sortDirection; context: { option: SortOption.byDoctor }"></ng-container>
            {{ 'visit.doctor' | translate }}
          </th>

          <th (click)="changeSortOption(SortOption.byAddress)">
            <ng-container *ngTemplateOutlet="sortDirection; context: { option: SortOption.byAddress }"></ng-container>
            {{ 'visit.place' | translate }}
          </th>

          <th></th>
        </tr>
      </thead>

      <tbody>
        @for (visit of visits; track visit.id) {
          <tr>
            <td>{{ visit.date | date : 'longDate' : '' : currentLanguage }}</td>

            <td>
              {{ ('doctorTypes.' + visit.doctorType) | translate }}

              @if (visit.doctorName) {
                - {{ visit.doctorName }}
              }
            </td>

            <td>{{ visit.address }}</td>

            <td class="actions">
              <button (click)="showDetails(visit.id)">{{ 'visit.seeDetails' | translate }}</button>
              <button (click)="deleteVisit(visit.id)">{{ 'visit.delete' | translate }}</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    @if (searchControl.value) {
      {{ 'noMatches' | translate }}
    } @else {
      {{ 'emptyHistory' | translate }}
    }
  }
}

<ng-template #sortDirection let-option="option">
  @if (sortOptionControl.value === option) {
    {{ sortDirectionControl.value === SortDirection.asc ? '⬆' : '⬇' }}
  }
</ng-template>
