<app-breadcrumb></app-breadcrumb>

@if (visit$ | async; as visit) {
  @if (isEditing) {
    <app-visit-form [visit]="visit" (closeForm)="toggleEditing()"></app-visit-form>
  } @else {
    <table>
      <tr>
        <th>{{ 'pages.treatment.date' | translate }}</th>
        <td>{{ visit.date | date : 'longDate' : '' : currentLanguage }}</td>
      </tr>
      <tr>
        <th>{{ 'pages.treatment.address' | translate }}</th>
        <td>{{ visit.address }}</td>
      </tr>
      <tr>
        <th>{{ 'pages.treatment.doctor' | translate }}</th>
        <td>
          {{ ('doctorTypes.' + visit.doctorType) | translate }}

          @if (visit.doctorName) {
            - {{ visit.doctorName }}
          }
        </td>
      </tr>
      <tr>
        <th>{{ 'pages.treatment.description' | translate }}</th>
        <td>{{ visit.description }}</td>
      </tr>
      <tr>
        <th>{{ 'pages.treatment.conclusion' | translate }}</th>
        <td>{{ visit.conclusion }}</td>
      </tr>
      <tr>
        <th>{{ 'pages.treatment.reports' | translate }}</th>
        <td>
          @if (visit.reports.length) {
            @for (report of visit.reports; track $index) {
              <a role="button" tabindex="0" class="report-reference" (click)="openReport(report)">
                {{ getReportName(report) }}
              </a>
            }
          } @else {
            -
          }
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <button (click)="toggleEditing()">{{ 'pages.treatment.edit' | translate }}</button>
          <button (click)="deleteVisit()">{{ 'pages.treatment.delete' | translate }}</button>
        </td>
      </tr>
    </table>
  }
}
