:host {
  max-width: 400px;
  width: 100%;
}

.container {
  position: sticky;
  top: 20px;
}

form, label, .reports {
  display: inline-flex;
  flex-direction: column;
}

form {
  width: 100%;
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  button {
    width: fit-content;
  }
}

.header {
  margin: 0 0 20px;
}

.asterisk::after {
  content: '*';
  color: crimson;
}

.reports {
  margin: 0 0 10px;
}

.report {
  display: flex;
}

.report-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
